<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Reminder - Influenz360</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; background-color: #f7f7f7;">
    <div style="max-width: 800px; margin: 0 auto; padding: 20px; background-color: #ffffff;">
        <h1 style="color: #333333; text-align: center;">Hello [[ user_name ]],</h1>
        <p style="color: #666666;">We noticed that you haven't logged in for a while. You have pending ad requests</p>

        
        
        <p style="color: #666666;">Log in now to review and respond to your pending ad requests.</p>
        <p style="color: #666666;">Best regards,</p>
        <p style="color: #666666;">The Influenz360 team</p>
    </div>
</body>
</html>

